
@font-face {
  font-family: Concourse-T2;
  src: url(../fonts/concourse_t2_regular-webfont.TTF);
}

@font-face {
  font-family: Concourse-C3;
  src: url(../fonts/concourse_c3_regular.TTF);
}

@font-face {
  font-family: Concourse-C4;
  src: url(../fonts/concourse_c4_regular.TTF);
}

.concourse-t2{
  font-family: 'Concourse-T2', sans-serif;
}
.concourse-c3{
  font-family: 'Concourse-C3', sans-serif;
}
.concourse-c4{
  font-family: 'Concourse-C4', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body,
header{
  height:100%;
}

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

body {
  /* background-color: #1c1e26; */
  font-family: 'Concourse-T2', sans-serif;
  padding-top: 60px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.navbar-brand{
  font-family: 'Concourse-C4', sans-serif;
  letter-spacing: 3px;
}

.activity-container div{
  padding-right:0px;
}

.drop-icon {
  /* padding-top:20px; */
}

.drop-icon img{
  float:right;
  margin-top:5px;
}

.rotate {
  -webkit-transition: -webkit-transform .2s;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

.arrow {
  transform:rotate(0deg);
  -ms-transform:rotate(0deg); /* IE 9 */
  -webkit-transform:rotate(0deg); /* Safari and Chrome */
  -webkit-transition: -webkit-transform .2s;
}

.nav-item{
  font-family : 'Concourse-C3', sans-serif;
  text-transform : uppercase;
}

main .container{
  /* margin-top:10px; */
}

.img-title,
.section-title,
.card-title,
.contact-text,
.badge,
.problem-title{
  font-family: 'Concourse-C3', sans-serif;
}

.active-job{
   background-color:#434648;
}

.past-job{
  background-color:#252C33;
}

.badge-prog{
  background-color:#364954;
  color:#f8f9fa;
}

.badge-design{
  background-color:#554230;
  color:#f8f9fa;
}

.badge-others{
  background-color:#87725E;
  color:#f8f9fa;
}

.gallery-image{
  width:100%;
}

.pb{
  padding-bottom:30px;
}

#about {
  /* background-color: #1c2624; */
}

#splash {
  font-family: 'Concourse-C4', sans-serif;
  text-transform:uppercase;
  letter-spacing:5px;
}

#splash a {
  text-decoration:none;
  color:inherit;

  border-bottom: 2px solid rgba(192, 192, 192, 0);

 -webkit-transition: border 500ms ease;
 -moz-transition: border 500ms ease;
 -ms-transition: border 500ms ease;
 -o-transition: border 500ms ease;
 transition: border 500ms ease;
}

#splash a:hover {
  border-bottom: 2px solid rgba(192, 192, 192, 1);
}
